

 @media only screen and (min-width: 992px) and (max-width: 1200px) {
   
   
    .breadcumb-area {
        padding: 60px 0;
    }
    .breadcumb-area h4 {
        font-size: 45px;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
   
    .breadcumb-area {
        padding: 50px 0;
    }
    .breadcumb-area h4 {
        font-size: 40px;
    }
   
    .projects-gallery a {
        flex-basis: 24%;
    }
}

@media only screen and (max-width: 767px) {
    
    .breadcumb-area {
        padding: 40px 0;
    }
    .breadcumb-area h4 {
        font-size: 40px;
    }
    .projects-menu {
        flex-direction: column;
    }
   
}