* {
  margin: 0;
  padding: 0;
}
.ban-img{
  width: 100%;
  height: 600px;
}

.tutorial-img{
  width:100%;
  height:200px;
}
.banner_title{
  font-size: 2rem;
  color: rgb(228, 71, 71);
  padding: 1rem;
  border-radius: 0.9rem;
  
}
.blog-catagory{
  list-style-type: none;

}
.blog-catagory :hover{
  color: #095dc7;
  cursor: pointer;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #666;
}
h1,h2,h3,h4,h5,h6 {
  color: #111;
}

/* Header */
.header-area {
  padding: 20px 0;
}
.mainmenu li {
  margin-left: 24px;
}
.mainmenu li a {
  color: #012c44;
  font-size: 16px;
  display: block;
  font-weight: 600;
}
.mainmenu li a:hover {
  color: #095dc7;
}


/* protfolio page */

.portfolio img {
  width: 100%;
  height: 200px;
}

/* Breadcumb */

.breadcumb-area {
  background-position: top center;
  background-size: cover;
  padding: 150px 0;
  position: relative;
  z-index: 2;
}
.breadcumb-area:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #828c98;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.8;
}
.breadcumb-area h4 {
  color: #fff;
  font-size: 72px;
  font-weight: 500;
}



/* Blog Page */

.blogs-area {
  padding: 80px 0 95px;
}

.blog-img {
  padding-top: 52%;
  background-size: cover;
  background-position: center;
}

/* contact page */

.contact-form input,
.contact-form textarea {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 3px;
}